table tr:nth-child(odd) {
    background-color: #47c7d612;
}

td p, td h3 {
    margin:0;
}

td:hover {
    background-color: #32d6d07a;
    cursor: pointer;
}

table {
    padding-top: 36px;
    width: 100%;
}

.search {
    display: flex;
    position: fixed;
    width: 100%;
}

.searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 20px;
    font-size: initial;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchTerm:hover {
    cursor: text;
}

.searchButton {
    right: 3px;
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
