table {
    padding-top: 36px;
    width: 100%;
}

table tr:nth-child(odd) {
    background-color: rgba(71, 199, 214, 0.16);
}

table tr.selected {
    background-color: #32d6d07a;
}

table tr:nth-child(odd).dark-theme {
    background-color: #2F4562;
}

table tr:nth-child(even).dark-theme {
    background-color: #081B33;
}

td p, td h3 {
    margin:0;
}

td:hover {
    /*background-color: #32d6d07a;*/
    cursor: pointer;
}

#search {
    display: flex;
    position: fixed;
    width: 100%;
}

#searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 20px;
    font-size: initial;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

#searchTerm.dark-theme {
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 20px;
    font-size: initial;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    background-color: #081B33;
}

#searchTerm:focus{
    color: #00B4CC;
}

#searchTerm:hover {
    cursor: text;
}

#searchButton {
    right: 3px;
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
